<header>
  <nav></nav>
  <main class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur accusamus odio error labore similique voluptates aliquam quibusdam eaque perferendis voluptatum nemo, nihil sapiente eius, et ratione ut ipsam eos!
      </div>
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat culpa aspernatur eligendi temporibus autem aperiam fugiat, ducimus odio dolores laborum. Dignissimos libero non magnam minima praesentium dolorem ad perspiciatis.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <button class="btn btn-primary">SUBSCRIBE</button>
      </div>
    </div>
  </main>
</header>