<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="section-title">About</h1>
        <p class="blurp">Learn more about us, our vision and your role in joining us</p>
      </div>
      <div class="col-md-7">
        <h4>1. History</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tempora alias ratione reprehenderit natus iusto, in ipsa cum deleniti, ad minus? Maiores, voluptatibus numquam? Ad quas magnam nihil alias fugit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur deserunt vero dignissimos officiis quaerat voluptas culpa facilis veritatis labore. Cum nulla consequatur iusto, velit molestiae recusandae suscipit qui ratione quasi! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci dolores molestiae enim? Illum dicta officia quidem, est expedita magni magnam! Beatae pariatur quaerat quae, nisi cum magnam eum tenetur sit.</p>

        <h4>2. Join us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tempora alias ratione reprehenderit natus iusto, in ipsa cum deleniti, ad minus? Maiores, voluptatibus numquam? Ad quas magnam nihil alias fugit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur deserunt vero dignissimos officiis quaerat voluptas culpa facilis veritatis labore. Cum nulla consequatur iusto, velit molestiae recusandae suscipit qui ratione quasi! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci dolores molestiae enim? Illum dicta officia quidem, est expedita magni magnam! Beatae pariatur quaerat quae, nisi cum magnam eum tenetur sit.</p>
      </div>
    </div>
  </div>
</section>