<footer class="cm-block footer-small section">
  <div class="container">
    <div class="row text-center align-items-center">
      
      <div class="col-12 col-lg-2 text-lg-left">
        <a href=""><img alt="image" src="/assets/images/logo.svg" height="40"></a>
      </div>

      <div class="col mt-4 mt-lg-0 text-center">
        <ul class="nav justify-content-center">

        </ul>
      </div>

      <div class="col-12 col-lg-2 mt-4 mt-lg-0 text-lg-right">
        <a href="https://twitter.com/the_blackbright/"><i class="fi fi-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/blackbright.co.za/"><i class="fi fi-facebook" aria-hidden="true"></i></a>
      </div>
    
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        Copyright © {{ site.time | date: "%Y"}}, {{site.name}}. All Rights Reserved.
      </div>
    </div>
  
  </div>
</footer><!-- Footer -->
