<header class="hero">
  <nav class="nav nav--berta">
    <a class="nav__item nav__item--current" href="#" aria-label="Item 1"><span class="nav__item-title">Home</span></a>
    <a class="nav__item" href="#about" aria-label="Item 2"><span class="nav__item-title">About</span></a>
  </nav>

  <main>
    <div class="container main-content">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1>
            <span class="cs-lead">WE ARE</span>
            <span class="cs-lead">COMING</span>
            <span class="cs-lead">SOON</span>

          </h1>
          <p>Due to the first version of the website being casual, the Blackbright team is bringing a better, dynamic and engaging website. You engaging with us and using our platform is of importance to us. So Like or Follow us</p>
        </div>
      </div>
    </div>

    <div class="side-text">
      
    </div>
  </main>
</header>
