<head> 
  <title>{{ page.title }} | {{site.name}}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">{% endif %}
  

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="default-style" content="default stylesheet title" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="http-equiv" content="X-Robots-Tag : noindex, follow" />
  <meta http-equiv="refresh" content="300; url={{site.url}}" />

  <meta name = "viewport" content = "width = device-width, initial-scale=1, user-scalable=yes">
  <meta name="HandheldFriendly" content="True">

  <meta name="application-name" content="{{site.name}}" />
  <meta name="google" content="nositelinkssearchbox" />	
  <meta name="robots" content="{{site.robots}}" />
  <meta name="googlebot" content="{{site.googlebot}}" />	
  <meta name="verify" content=""/>
  
  {% seo %}
  
  <meta property="twitter:url" content="{{site.url}}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="" />

  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2393290236351363",
      enable_page_level_ads: true
     });
  </script>
</head>