<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Resource</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="">Entreprenuer</a></li>
            <li><a target="blank" href="">Mantality</a></li>
            <li><a target="blank" href="">Win Iphone</a></li>
            <li><a target="blank" href="">Hosting</a></li>
            <li><a target="blank" href="">Wow themes</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
            <h5><span>Recommended</span></h5>
        </div>
</div>