<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include head.html %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KW5833H" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    
<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" width="60">
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">                
                <a class="nav-link" href="index.html">Blog</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>

                <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.facebook.com/blackbright.co.za/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                <a target="_blank"  class="nav-link" href="https://twitter.com/blackbright_"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                <a target="_blank"  class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>		
        </div>
        <!-- End Menu -->

    </div>
</header>
<!-- End Menu Navigation
================================================== -->
    
<div class="site-content">   
<div class="container">
    
<!-- Site Title
================================================== -->

<div class="mainheading">
    <h1 class="sitetitle">{{ site.name }}</h1>
    <p class="lead">
         {{ site.description }}
    </p>
</div>
    
    
<!-- Content
================================================== --> 
<div class="main-content">
    {{ content }}
</div>

<!-- Bottom Alert Bar
================================================== -->
<div class="alertbar">
	<div class="container text-center">
		<img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{site.title}}" width="50"> &nbsp; Never miss a <b>article</b> from us, subscribe to our newsletter 
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group">
            <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on">
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
	</div>
</div>    
    

<!-- Categories Jumbotron
================================================== --> 
<div class="jumbotron fortags">
	<div class="row">
		<div class="col-md-4 align-self-center text-center">
			<h2 class="hidden-sm-down">Explore →</h2>
		</div>
		<div class="col-md-8 align-self-center text-center">
          {% assign tags_list = site.categories %}  
          {% if tags_list.first[0] == null %}
            {% for tag in tags_list %} 
              <a href="{{ site.baseurl }}/category/{{ tag }}">{{ tag | capitalize }} {{ site.tags[tag].size }}</a>
            {% endfor %}
          {% else %}
            {% for tag in tags_list %} 
              <a href="{{ site.baseurl }}/category/{{ tag[0] }}">{{ tag[0] | capitalize }} ({{ tag[1].size }})</a>
            {% endfor %}
          {% endif %}
        {% assign tags_list = nil %}

		</div>
	</div>
</div>
    


<!-- Begin Footer
================================================== -->
<footer class="footer">
    <p class="pull-left">
         Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
    </p>
    <p class="pull-right">
    <!-- Please, leave credit to author unless you make a donation: https://www.wowthemes.net/freebies-license/ --> 
        <a target="_blank" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net
    </p>
    <div class="clearfix">
    </div>
</footer>
<!-- End Footer
================================================== -->

</div><!-- /.container -->    
</div> <!-- /.site-content>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
    
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>
    
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js" async></script>
</body>
</html>